* {
  color: aliceblue;
}

body {
  background-color: #001a38;
}

header {
  background-color: #1A5F7A;
}

header h1 {
  font-size: 350%;
  font-weight: bold;
  color: aliceblue;
}


.cityName {
  color: aliceblue;
}

.btn {
  color: aliceblue;
  background-color: #159895;
  border-color: #159895;
}

.prevBtn {
  font-weight: bold;
}

.searchCol {
  font-weight: bold;
  font-size: 30px;
}

.resultCard {
  max-width: 20%;
  margin: 10px 0 0 30px;
  background-color: #159895;
}

.icon {
  height: 75px;
  width: 75px;
}

